* {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  width: 1020px;
  margin: 0 auto;
  padding: 0; 
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

/*HEADER*/

.header { 
  min-height: 89px;
  background-color: #2D303A;
  border-bottom: 6px solid #323746;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  min-height: inherit;
  align-items: center;
}

.logo__title {
  position: relative;
  font-size: 2.4rem;
  line-height: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.logo__title::before {
  content: '*';
  position: absolute;
  top: 0;
  right: -9px;
  color: #f06c64;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 371px;
  margin-top: 11px;
  text-transform: uppercase;
}

.navigation__link {
  text-transform: uppercase;
  color: #fff;
}

.navigation__link--active {
  color: #f06c64;
}

.navigation__item {
  font-size: 1.2rem;
  line-height: 0.6rem;
  font-weight: 700;
}

.navigation__item:nth-child(n+2)::before {
  content: "";
  position: absolute;
  margin-left: -16px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #fff;
}

.navigation__link:hover {
  color: #f06c64;
}

/* slider */

.slider {
  min-height: 666px;
  background-color: #f06c64;
  min-height: 594px;
  border-bottom: 6px solid #EA676B;
}

.slider .wrapper {
  position: relative;
  min-height: inherit;
}

.slider__images {
  position: relative;
}

.slider__image {
  position: absolute;
}

.slider__image-phone {
  z-index: 5;
}

.slider__image-phone--vertical {
  top: 53px;
  left: 72px;
}

.slider__image-phone--horizontal {
  top: 174px;
  right: 97px;
}

.slider__phone-shadow--vertical {
  top: 57px;
  left: 73px;
}

.slider__phone-shadow--horizontal {
  top: 176px;
  right: 68px;
}

.phone__background {
  position: absolute;
  z-index: 15;
  background-repeat: no-repeat;
  background-position: center;
}

.phone__background--vertical{
  background-image: url('./assets/img/picture-vertical.png');
  top: 118px;
  left: 88px;
  width: 188px;
  height: 332px;
}

.phone__background--horizontal {
  background-image: url('./assets/img/picture-horizontal.png');
  top: 188px;
  right: 164px;
  width: 333px;
  height: 189px;
}

.arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 954px;
  padding: 0;
}

.arrows__icon {
  cursor: pointer;
  min-width: 30px;
  min-height: 30px; 
}

.arrows__icon--left {
  background: url('./assets/img/arrow-left.png') no-repeat;
}

.arrows__icon--right {
  background: url('./assets/img/arrow-right.png') no-repeat;
}


/*services*/

.services {
  min-height: 494px;
  background-color: #F2F2F2;
  color: #767e9e;
  border-bottom: 6px solid #fff;
}

.services__title {
  display: inline-block;
  padding-top: 59px;
  padding-bottom: 19px;
  font-size: 3rem;  
}

.services__text {
  margin-bottom: 40px;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

.service {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  padding: 0;
}

.service__item {
  position: relative;
  max-width: 220px;
  margin-left: 80px;
  margin-bottom: 24px;
}

.service__item::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -80px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}

.service__item--pen::before {
  background-image: url('./assets/img/ellipse_pen.svg');
}
.service__item--bulb::before {
  background-image: url('./assets/img/ellipse-bulb.svg');
}

.service__item--heart::before {
  background-image: url('./assets/img/ellipse-heart.svg');
}

.service__item--phone::before {
  background-image: url('./assets/img/ellipse-phone.svg');
}

.service__item--bubble::before {
  background-image: url('./assets/img/ellipse-bubble.svg');
}

.service__item--star::before {
  background-image: url('./assets/img/ellipse-star.svg');
}


.service__title {
  margin-bottom: 8px;
  letter-spacing: -0.13rem;
}

.service__text {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.03rem;
  word-spacing: 3px;
}