.about-us {
  min-height: 728px;
  background-color: #F2F2F2;
  border-bottom: 6px solid #fff;
}

.wrapper-flex {
  display: flex;
  justify-content: space-between;
}

.photo {

  &--pixel {
    margin-right: -2px;
  }

  &__wrap {
    max-width: 300px;
    max-height: 299px;
    margin-bottom: 18px;
  }

  &__caption {
    color: #666d89;
  }

  &__name {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.8rem;
  }

  &__text {
    width: 300px;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: $text-color;
    font-weight: 400;
    margin-bottom: 21px;
    margin-top: 10px;
  }
}