.footer {
  height: 76px;
  background-color: #2D303A;
}

.footer__text {
  padding-top: 6px;
  font-size: 1.2rem;
  line-height: 2.156rem;
  font-weight: 400;
  color: $text-color;

  @media (max-width: 767px) {
    display: none;
  }
}